{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid text-center border rounded w-50 h-50 mt-5 bg-white">
    <h1 class="text-black my-4">Unsubscribe Confirmation</h1>
    <p class="text-black mt-5">We're sorry to see you go &#128542;</p>
    <p class="text-black">Are you sure you want to unsubscribe from our newsletter?</p>
    <p class="text-black">If so, please enter your email address below.</p>
    <form id="unsubscribe-form" method="post" action="{% url 'unsubscribe' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning text-black">Unsubscribe</button>
    </form>
</div>
{% endblock %}