{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
    Shopping Bag | 
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <!-- Page Header -->
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <hr class="mb-2 mt-0">
                <h2 class="logo-font mb-2">Shopping Bag</h2>
                <hr class="my-2">
            </div>
        </div>
        
        <!-- Page Content -->
        {% if bag_items %}
            <div class="row">

                <!-- Order Total & Checkout Buttons -->
                <div class="col-12 col-md-10 offset-md-1 order-sm-2">
                    <div class="row">
                        <div class="col text-sm-end">
                            {% include "bag/bag-total.html" %}
                            {% include "bag/checkout-buttons.html" %}
                            <p class="text-muted mb-0 d-block d-sm-none">A summary of your bag contents is below</p>
                        </div>
                    </div>
                </div>

                <!-- Bag Items -->
                <div class="col-12 col-md-10 offset-md-1 order-sm-1">
                    {% for item in bag_items %}
                        <div class="row">
                            <!-- Product Image -->
                            <div class="col-6 col-md-4 col-lg-3">
                                {% include "bag/product-image.html" %}
                            </div>
                            <!-- Info, Price & Quantity Form -->
                            <div class="col-6 col-md-8 col-lg-9 bag-text">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                <div class="row mt-lg-2">
                                    <div class="col-12 col-lg-4">
                                        <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <p class="my-0"><strong>Price: </strong> £{{ item.product.price }}</p>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <p class="my-0"><strong>Subtotal: </strong>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </div>
                                </div>
                                {% include "bag/quantity-form.html" %}
                            </div>
                        </div>
                        <hr class="my-2">
                    {% endfor %}
                </div>
            </div>
            
            <!-- Back To Top Button -->
            <button type="button" class="btn btn-warning btn-floating" id="btn-back-to-top">
                <i class="fas fa-arrow-up"></i>
            </button>

        {% else %}
            <div class="row">
                <div class="col">
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-dark rounded checkout-button">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% include 'products/includes/btt_button_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}