{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="my-auto text-center text-sm-start">
                <h1 class="display-4 logo-font text-white">
                    Your Fitness Journey Starts Here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-warning text-black btn-lg rounded text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <footer class="fixed-bottom bg-grey py-2 px-1 text-end">

        <!-- Subscribe Modal Trigger -->
        <button type="button" class="btn btn-warning p-1" data-bs-toggle="modal" data-bs-target="#subscribeModal">
            <p class="p-0 m-0 d-none d-sm-block">
                Subscribe to our Newsletter!
            </p>
            <i class="fa-solid fa-square-envelope d-sm-none px-1 fs-2 lh-sm"></i>
        </button>

    </footer>

    <!-- Subscribe Modal -->
    {% include 'subscribe/includes/subscribe_modal.html' %}

{% endblock %}