{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="my-auto">
                <h1 class="display-4 logo-font text-white">
                    Your Fitness Journey Starts Here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-warning text-black btn-lg rounded text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <footer class="fixed-bottom bg-grey py-2 px-3 text-end">

        <!-- Subscribe Modal Trigger -->
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#subscribeModal">
            Subscribe to our Newsletter!
        </button>

    </footer>

    <!-- Subscribe Modal -->
    <div class="modal fade text-center" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="subscribeModalLabel">Subscribe to our Newsletter!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="subscribeForm" method="post" action="{% url 'subscribe' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-warning">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}