<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Script for average rating of product
        var avgStarContainers = document.querySelectorAll('.star-container-average');
        avgStarContainers.forEach(function(starAvg) {
            var filledStars = starAvg.querySelector('.filled-stars');
            var hasReviews = starAvg.getAttribute('data-has-reviews') === 'true';
            var rating = filledStars.getAttribute('data-rating');
            if (hasReviews) {
                filledStars.style.width = rating + '%';
            } else {
                filledStars.style.width = '0%';
            }
        });

        // Script for individual rating given in user's review
        const ratings = document.querySelectorAll('.star-container-single');
        ratings.forEach(rating => {
            const stars = rating.querySelector('.stars');
            const score = parseInt(rating.dataset.rating);
            let starHTML = '';
            for (let i = 1; i <= 5; i++) {
                if (i <= score) {
                    starHTML += '<span class="filled-star">&starf;</span>';
                } else {
                    starHTML += '<span class="empty-star">&star;</span>';
                }
            }
            stars.innerHTML = starHTML;
        });
    });
</script>