<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Newsletter!</title>
</head>
<body>
    <p>Dear Subscriber,</p>
    <p>Thank you for subscribing to our newsletter. We're excited to have you on board!</p>
    <p>With our newsletter, you'll receive regular updates, exclusive offers, and exciting news about our products and services.</p>
    <p>Stay tuned for valuable insights and tips from our team.</p>
    <p>If you have any questions or feedback, feel free to contact us at gym-stop@example.com.</p>
    <p>If you wish to unsubscribe from our newsletter, you can do so by clicking the following link: <a href="{{ unsubscribe_url }}">Unsubscribe</a></p>
    <p>
        Best regards, <br>
        The Gym-Stop Team
    </p>
</body>
</html>