<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- Home Link -->
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link px-2" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All Products -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link px-2" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu nav-dropdown" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Strength & Conditioning -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link px-2" href="#" id="strength-conditioning-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Strength & Conditioning
            </a>
            <div class="dropdown-menu nav-dropdown" aria-labelledby="strength-conditioning-link">
                <a href="{% url 'products' %}?category=strength_training_equipment" class="dropdown-item">Strength Training Equipment</a>
                <a href="{% url 'products' %}?category=cardio_equipment" class="dropdown-item">Cardio Equipment</a>
                <a href="{% url 'products' %}?category=functional_training_equipment" class="dropdown-item">Functional Training Equipment</a>
                <a href="{% url 'products' %}?category=strength_training_equipment,cardio_equipment,functional_training_equipment" class="dropdown-item">All Strength & Conditioning</a>
            </div>
        </li>

        <!-- Nutrition & Supplements -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link px-2" href="#" id="nutrition-supplements-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition & Supplements
            </a>
            <div class="dropdown-menu nav-dropdown" aria-labelledby="nutrition-supplements-link">
                <a href="{% url 'products' %}?category=protein_powder" class="dropdown-item">Protein Powder</a>
                <a href="{% url 'products' %}?category=pre_workout_supplements" class="dropdown-item">Pre-Workout Supplements</a>
                <a href="{% url 'products' %}?category=vitamins_minerals" class="dropdown-item">Vitamins & Minerals</a>
                <a href="{% url 'products' %}?category=protein_powder,pre_workout_supplements,vitamins_minerals" class="dropdown-item">All Nutrition & Supplements</a>
            </div>
        </li>

        <!-- Accessories -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link px-2" href="#" id="accessories-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu nav-dropdown" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=wearable_technology" class="dropdown-item">Wearable Technology</a>
                <a href="{% url 'products' %}?category=gym_essentials" class="dropdown-item">Gym Essentials</a>
                <a href="{% url 'products' %}?category=recovery_mobility" class="dropdown-item">Recovery & Mobility</a>
                <a href="{% url 'products' %}?category=wearable_technology,gym_essentials,recovery_mobility" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <!-- Special Offers -->
        <!-- <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li> -->
    </ul>
</div>