{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">

            <!-- Product Image -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container m-2">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>

            <!-- Product Details -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-2 mt-md-2">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-start font-weight-bold">${{ product.price }}</p>

                    {% if product.category %}
                        <p class="small m-1">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag me-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}

                    <!-- Average Star Rating -->
                    <small class="text-muted">{{ product.rating|floatformat:1 }}</small>
                    <div class="star-container star-container-average mb-1" data-has-reviews="{% if product.reviews.all.count > 0 %}true{% else %}false{% endif %}">
                        <div class="filled-stars" data-rating="{{ product.rating_percentage }}">
                            &starf;&starf;&starf;&starf;&starf;
                        </div>
                        <div class="empty-stars d-inline-block">
                            &star;&star;&star;&star;&star;
                        </div>
                    </div>
                    <small class="text-muted">({{ product.reviews.all.count }})</small>
                    

                    {% if request.user.is_superuser %}
                    <p class="mb-0">
                        <a class="btn btn-primary py-0" href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a class="btn btn-danger py-0" href="{% url 'delete_product' product.id %}">Delete</a>
                    </p>
                    {% endif %}

                    <p class="mt-3">{{ product.description }}</p>

                    <!-- Add To Bag functionality -->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                                {% if s %}
                                    <div class="col-12">
                                        <p><strong>Size:</strong></p>
                                        <select class="form-control rounded w-50" name="product_size" id='id_product_size'>
                                            <option value="s">S</option>
                                            <option value="m" selected>M</option>
                                            <option value="l">L</option>
                                        </select>
                                    </div>
                                {% endif %}

                                <!-- Quantity Selector -->
                                <div class="col-12">
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50 quantity-selector">
                                        <div class="input-group">

                                            <!-- Quantity Decrement Button -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-dark rounded" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>

                                            <!-- Quantity Input -->
                                            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">

                                            <!-- Quantity Increment Button -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-dark rounded" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- Add To Bag button -->
                                <div class="col-12{% if s %}-12 mt-2{% endif %}">
                                    <a href="{% url 'products' %}" class="btn btn-outline-dark rounded mt-5">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <input type="submit" class="btn btn-dark rounded text-uppercase mt-5" value="Add to Bag">
                                </div>

                                <!-- Redirection functionality -->
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Reviews -->
        <div class="row">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2 border mt-3 mb-5 bg-white">
                <div class="product-reviews">

                    <!-- Review Header & Button -->
                    <div class="row">
                        <div class="col-6 mt-2">
                            <h4 class="mb-0 mt-2">Product Reviews</h4>
                        </div>
                        <div class="col-6 mt-2">
                            <!-- Review form (displayed only if review_form is not None and user is authenticated) -->
                            {% if review_form and user.is_authenticated %}
                            <div class="text-end">
                                <a class="btn btn-warning text-black rounded" href="{% url 'reviews:add_review' product.id %}">Add Review</a>
                            </div>
                            {% elif not user.is_authenticated %}
                            <div class="text-end">
                                <p class="text-black">Please <a class="text-decoration-none" href="{% url 'account_login' %}">log in</a> to leave a review.</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="m-2">

                    <!-- Review Cards -->
                    {% for review in product.reviews.all %}
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="star-container star-container-single me-1" data-rating="{{ review.rating }}">
                                    <span class="stars"></span>
                                </div>
                                <div class="d-inline-block">
                                    <strong>{{ review.headline }}</strong>
                                </div>
                                <p class="text-muted m-0">
                                    Reviewed by <strong>{{ review.user|default:"Anonymous" }}</strong> on {{ review.created_at|date:"F d, Y" }}
                                </p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ review.content }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>No reviews yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% include 'products/includes/star_rating_script.html' %}
{% endblock %}