<div class="toast custom-toast border border-light-subtle" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000" data-bs-animation="true">
    <div class="arrow-up arrow-success"></div>
    <div class="toast-header bg-dark rounded-top-2">
        <strong class="me-auto text-white">Alert!</strong>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-body bg-dark text-white rounded-bottom-2">
        {{ message }}
    </div>
</div>